@model WebApplication1.Models.announcement

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Announcment</title>
    <style>
        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 70%;
        }

        th, td {
            padding: 6px;
        }
    </style>
</head>
<body>
    <div>
        <h4 style="text-align:center;padding-top:30px;font-size:25px;">Existing Announcments</h4><hr />
        <h4 style="text-align:center;padding-top:60px;font-size:18px;">@Html.ActionLink("Add New Announcment", "createanoncmnt")</h4>
        @{
            WebApplication1.Models.mydbEntities5 db = new WebApplication1.Models.mydbEntities5();
            List<WebApplication1.Models.announcement> ls = db.announcements.ToList();
            foreach (var nam in ls)
            {
                <br><br>
                <table id="t01" align="center">
                    <tr style="background-color: #eee;font:bold;font-size:20px;">
                        <th>Date</th>
                        <td>@nam.date</td>
                    </tr>
                    <tr style="background-color: #eee;font:bold;font-size:20px;">
                        <th>Time</th>
                        <td>@nam.time</td>
                    </tr>
                    <tr style="background-color: #eee;font:bold;font-size:20px;">
                        <th>Announcment</th>
                        <td>@nam.annoucement</td>
                    </tr>
                </table>
                <br><br>
                <div style="text-align:center;font-size:18px;">
                    @Html.ActionLink("Delete Announcment>>  |", "delanon", new { id = @nam.Id })
                    @Html.ActionLink("Back to AdminPanel>>", "admin")
                </div>
            }
        }
    </div>
    <br /><br /><p style="font-size:18px;text-align:center;">
        @Html.ActionLink("Clear All Announcment>>  ", "clearallanon")
    </p>
</body>
</html>
